version: 2
jobs:
  build:
    machine: true
    environment:
      IMAGE_NAME: packetbeat-docker
      VERSION: 5.5.2
    steps:
      - checkout
      #- setup_remote_docker
      - run:
          name: Docker login
          command: docker login -u $ARTIFACTORY_USER -p $ARTIFACTORY_PASSWORD $DOCKER_PRIVATE_REPO
      - run:
          name: Docker build
          command: docker build --compress --tag $DOCKER_PRIVATE_REPO/$IMAGE_NAME:$CIRCLE_BUILD_NUM .
      - run:
          name: Docker push
          #$CIRCLE_BUILD_NUM
          command: docker push $DOCKER_PRIVATE_REPO/$IMAGE_NAME:$VERSION
