version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout
      #- setup_remote_docker
      - run:
          name: Docker login
          command: docker login -u $ARTIFACTORY_USER -p $ARTIFACTORY_PASSWORD -e developers@vimond.com $DOCKER_PRIVATE_REPO
      - run:
          name: Docker build
          command: docker build -t $IMAGE_NAME:$CIRCLE_BUILD_NUM .
      - run:
          name: Docker tag
          command: docker tag -f $IMAGE_NAME:$CIRCLE_BUILD_NUM $IMAGE_NAME:latest
